<h2>Amy's Task list</h2>

<ul>
<% @tasks.each do |task| %>
  <li>
    NAME: <%= task.name %>, 
    DESCRIPTION: <%= task.description %>,
    COMPLETE?: <%= task.complete %>,
    COMPLETION DATE: <%= task.complete_date %>
  </li>
<% end %>
</ul>
